{{#each plugins}}
import plugin_{{.}} from './{{.}}';
{{/each}}

{{#each components}}
import component_{{.}} from './{{.}}.svelte';
{{/each}}

export function plugins() {
    return [
        {{#each plugins}}
        plugin_{{.}},
        {{/each}}
    ]
}

export function components() {
    return [
        {{#each components}}
        component_{{.}},
        {{/each}}
    ]
}
