{{#each plugins}}
import __plugin_{{.}} from './{{.}}';

/* @__PURE__ */
export async function plugin_{{.}}() {
    return __plugin_{{.}};
}
{{/each}}

{{#each components}}
import __component_{{.}} from './components/{{.}}.svelte';

/* @__PURE__ */
export async function component_{{.}}() {
    return __component_{{.}};
}
{{/each}}
